<!-- Validation failure messages -->
<% if @paycheck.errors.any? %>
  <% @paycheck.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Paycheck #<%= @paycheck.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_paycheck/<%= @paycheck.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for date_received -->
      <div class="form-group">
        <label for="date_received" class="control-label">
          Date received
        </label>

        <input type="text" id="date_received" name="date_received" placeholder="Date received" class="form-control" value="<%= @paycheck.date_received %>">
      </div>

      <!-- Label and input for average_amount -->
      <div class="form-group">
        <label for="average_amount" class="control-label">
          Average amount
        </label>

        <input type="text" id="average_amount" name="average_amount" placeholder="Average amount" class="form-control" value="<%= @paycheck.average_amount %>">
      </div>

      <!-- Label and input for income_source -->
      <div class="form-group">
        <label for="income_source" class="control-label">
          Income source
        </label>

        <input type="text" id="income_source" name="income_source" placeholder="Income source" class="form-control" value="<%= @paycheck.income_source %>">
      </div>

      <!-- Label and input for userid -->
      <div class="form-group">
        <label for="userid" class="control-label">
          Userid
        </label>

        <input type="text" id="userid" name="userid" placeholder="Userid" class="form-control" value="<%= @paycheck.userid %>">
      </div>

      <button class="btn btn-warning">
        Update Paycheck
      </button>
      or
      <a href="/paychecks/<%= @paycheck.id %>">Cancel</a>
    </form>
  </div>
</div>
