<h1> TIMELINE </h1>

<% @paychecks.each do |paycheck| %>
<h2>Date: <td><%= paycheck.date_received %></td> </h2>
<% paycheck.bills.each do |bill| %>
<ul>
  <td><%= bill.recipient %></td>
  <td><%= bill.amount_due %></td>
</ul>
<% end %>
<ul>
  Total Income for the period: <%= paycheck.average_amount %><br />
  Total Amount of bills In this period: <%=paycheck.bills.pluck(:amount_due).sum %>
</ul>

<% end %>


<h1> OPTIMIZED </h1>


<% @opaychecks.each do |opaycheck| %>
<h2>Date: <td><%= opaycheck.date_received %></td> </h2>
<% opaycheck.bills.each do |obill| %>
<ul>
  <td><%= obill.recipient %></td>
  <td><%= obill.amount_due %></td>
</ul>
<% end %>


<% end %>
