<body style="background-color:powderblue;">
<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4" ><h4 style="color:red;">WHERE YOU STAND</h4></div>
    </div>
    <div class="row">
        <div class="col-md-offset-2 col-md-8"> CHART</div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <% @paychecks.each do |paycheck| %>
          <p style="color:brown;"><b>For the paycheck you will receive on, <%= paycheck.date_received %>, the following are bills that could be paid for by this paycheck</b> </p>
          <% paycheck.bills.each do |bill| %>
          <ul>
            <td><b><%= bill.recipient %></b></td>
            <td>in the amount of <b>$<%= bill.amount_due %></b></td>
            <td>due on: <b><%= bill.date_due %></b></td>
            <a href="/bills/<%= bill.id %>/edit" class="btn btn-default">Make edits to this bill</a>
          </ul>
          <% end %>
          <ul>
            <b>Total Income for the period: $<%= paycheck.average_amount %><br/></b>
            <b>Total Amount of bills In this period: $<%=paycheck.bills.pluck(:amount_due).sum %><br/></b>
            <% if paycheck.average_amount < paycheck.bills.pluck(:amount_due).sum %>
            <b style="color:red;">Total Deficit for the period: $<%=paycheck.average_amount-paycheck.bills.pluck(:amount_due).sum%></b>
                <% else %>
                <b style="color:green;">Total Surplus for the period: $<%=paycheck.average_amount-paycheck.bills.pluck(:amount_due).sum%></b>
                <% end %>
          </ul>

          <% end %>



        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-3"><h3><a href="/paychecks" class="btn btn-warning btn-lg" >VIEW ALL OF MY PAYCHECKS</a></h3>
          </div>
        <div class="col-md-3"><h3><a href="/paychecks" class="btn btn-warning btn-lg" >VIEW ALL OF MY BILLS</a></h3>
          </div>
    </div>
    <div class="row">
        <div class="col-md-offset-5 col-md-5"><h3><a href="/ouropinion" class="btn btn-success btn-lg" >WHAT WE THINK</a></h3></div>
    </div>
</div>
</body>
